/* Global */
h1, h2 {
	font-family: 'Abril Fatface', cursive;			
}

p, a, li, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

article {
	margin: 0 auto;
	max-width: 75%;
	width: 75%;
}

body {
	background: #FFF0A5;
}

/* Homeage */
h1 {
	font-size: 6em;
	text-transform: uppercase;
}

h2, h3 {
	font-size: 3em;
}

p,a, li{
	font-size: 2em;
}

li a, p a, li li {
	font-size: 1em;
}

a:link,
a:visited {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #3E606F;
}